/*0*/#app{
    background-image: url(https://64.media.tumblr.com/5f8f79e29a25d133a8a29ddde4778db3/aa25600c1b1381c5-ac/s250x400/1af5d1babe60e99db9f4b465a38d5f8fe4feca8d.gifv) !important;
    color: white !important;
    font-family: "comic sans ms" !important;
}

.sc-classic{
    color: white !important;
}

.profileTabs{
    color: white !important;
    font-family: "comic sans ms" !important;
}
.sc-type-light{
    color: white !important;
}
.sc-classic .g-tabs-link, .sc-classic .g-tabs-link:visited{
    color: white !important;
}

button{
    background-color: #ff3385 !important;
    color: white !important;
}

.l-container{
    background-image: url(https://i.pinimg.com/originals/a7/d8/3c/a7d83c2172edb71ba818cc0dabb3f009.gif);
    
}

.sc-classic .header__logoLink {
    height: 65px;
    width: 65px;
    background-image: url(https://64.media.tumblr.com/39e87b0afa49c2bbf13eb042961bfedb/614cd51e1176e742-67/s1280x1920/93d73fc753f4c7c6eb2a1b7211ff7ebadc5b393e.gifv) !important;
    background-size: 65px 65px;
    background-position: -1.4px 1px;
}

.infoStats{
    background-color: black;
}



